Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-optin.performance.Padding,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  google-explicit-constructor,
  hicpp-*,
  -hicpp-braces-around-statements,
  -hicpp-uppercase-literal-suffix,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  readability-misplaced-array-index,
  readability-redundant-*,
  readability-reference-to-constructed-temporary,
  readability-suspicious-call-argument
WarningsAsErrors: >
  bugprone-*,
  misc-unused-*,
  readability-misplaced-array-index,
  readability-redundant-*,
  readability-reference-to-constructed-temporary,
  readability-suspicious-call-argument
